<h1>Welcome to the one place thats all about, me!</h1>

<div class="col-md-8 col-md-push-2">
  <p>
    I guess this is the place where I tell you about this blog and what it is.
    A corner of the wider web, neigh it's a home where we occasionally meet and share
    stories that make you laugh, or leisurely nod your head as you go "Yeah, me too!"
    as you read along to a post that familiarizes with you. A place where we can all come
    to blow off some steam and forget the world out there, form a community of like minded
    peeps,a family, if I may be so bold.
  </p>

  <h2>So who am i?</h2>
  <p>
    I think this is just one of those questions that separates the two kinds of people.
    You'll either give a straight answer after a few seconds, which basically means you know yourself
    and probably have you shit together. Or, your'e the other kind of folks, the people who start saying
    weird stuff like, "Could I really reduce my whole being to one sentence?" Which obviously means
    they still haven't discovered themselves.
  </p>
  <p>
    So, in reference to the kind of person i am, I think the better question is, who am I NOT? (To the one guy who didn't
    get it, this is the "weird stuff" I alluded to earlier.)
    A book lover. Yeah, I'm with a different one every week, I'm just that kinda guy..insert corky smiley here. Love spending hours watching movies, but who doesn't.
    Like the geeky guy i am, this mainly involves sci-fi movies. One being Interstellar, which if you haven't watched yet I
    seriously urge you to pick up. And of course by pick up i mean download from your favorite torrent site.
    Another of my watchable content is animes. NOT CARTOON! I'm referring to the japanese kind which i would
    have you know have very complicated plots.
    </p>
  <p>
    Okay, so what else. I do spend most of my time on my computer. Came with the territory after I chose to do
    Computer Science, which seems harder than it was earlier advertised. But I don't have much to complain about,
    Oh! Except that my class is like <span class="text-danger">90%</span> dude! I mean come on, that's 89%
    more testosterone than I would rather. Sorry, but had to get that out of my chest.
  </p>

  <h2>Reason I created this blog.</h2>

  <p>
    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  </p>
</div>