@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #2E2F30;
}

footer a {
  color: #555;
}

footer a:hover{
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* designing the featurette */
.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.lead {
  max-height: 60px;
  overflow: hidden;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* user- image */
section {
  padding: 10px 0;

}
.user_info {
  margin-top: 20px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* post */
.post {
  font-size: medium;
  padding-bottom: 100px;
}